http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/BSAA/JSON-stat/2.0/en
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Disposition: inline; filename=BSAA.20250612203940
      Content-Type: application/json
    body:
      encoding: ''
      file: no
      string: "{\r\n  \"class\": \"dataset\",\r\n  \"dimension\": {\r\n    \"STATISTIC\":
        {\r\n      \"category\": {\r\n        \"index\": [\r\n          \"IS\",\r\n
        \         \"JSA\",\r\n          \"RP\",\r\n          \"PC\",\r\n          \"AA\",\r\n
        \         \"CA\",\r\n          \"DLA\",\r\n          \"ESA\",\r\n          \"UC\",\r\n
        \         \"PIP\"\r\n        ],\r\n        \"label\": {\r\n          \"IS\":
        \"Income Support\",\r\n          \"JSA\": \"Jobseekers Allowance\",\r\n          \"RP\":
        \"Retirement Pension\",\r\n          \"PC\": \"Pension Credit\",\r\n          \"AA\":
        \"Attendance Allowance\",\r\n          \"CA\": \"Carer's Allowance\",\r\n
        \         \"DLA\": \"Disability Living Allowance\",\r\n          \"ESA\":
        \"Employment & Support Allowance\",\r\n          \"UC\": \"Universal Credit\",\r\n
        \         \"PIP\": \"Personal Independence Payment\"\r\n        },\r\n        \"unit\":
        {\r\n          \"IS\": {\r\n            \"decimals\": 0,\r\n            \"label\":
        \"Number\",\r\n            \"position\": \"end\"\r\n          },\r\n          \"JSA\":
        {\r\n            \"decimals\": 0,\r\n            \"label\": \"Number\",\r\n
        \           \"position\": \"end\"\r\n          },\r\n          \"RP\": {\r\n
        \           \"decimals\": 0,\r\n            \"label\": \"Number\",\r\n            \"position\":
        \"end\"\r\n          },\r\n          \"PC\": {\r\n            \"decimals\":
        0,\r\n            \"label\": \"Number\",\r\n            \"position\": \"end\"\r\n
      [...]
