http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.jsonrpc?data=%7B%22jsonrpc%22%3A%222.0%22%2C%22method%22%3A%22PxStat.Data.Cube_API.ReadCollection%22%2C%22params%22%3A%7B%22language%22%3A%22en%22%2C%22datefrom%22%3A%222030-12-12%22%7D%7D
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: ''
      file: no
      string: '{"jsonrpc":"2.0","result":{"class":"collection","link":{"item":[]},"version":"2.0"},"id":null}'
  recorded_at: 2024-10-21 10:44:24 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
