http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.jsonrpc?data=%7B%22jsonrpc%22%3A%222.0%22%2C%22method%22%3A%22test_method%22%2C%22params%22%3A%7B%22made_up_parameter%22%3A%22test%22%7D%7D
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: ''
      file: no
      string: '{"jsonrpc":"2.0","error":{"code":-32601,"message":"Method not found","data":null},"id":null}'
  recorded_at: 2024-10-16 20:09:32 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
