http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.jsonrpc?data=%7B%22jsonrpc%22%3A%222.0%22%2C%22method%22%3A%22PxStat.Data.Cube_API.ReadCollection%22%2C%22params%22%3A%7B%22language%22%3A%22en%22%2C%22datefrom%22%3A%222024-10-14%22%7D%7D
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: ''
      file: no
      string: '{"jsonrpc":"2.0","result":{"class":"collection","link":{"item":[{"dimension":{"STATISTIC":{"category":{},"label":"STATISTIC","id":"STATISTIC"},"TLIST(M1)":{"category":{"index":["2005M01","2005M02","2005M03","2005M04","2005M05","2005M06","2005M07","2005M08","2005M09","2005M10","2005M11","2005M12","2006M01","2006M02","2006M03","2006M04","2006M05","2006M06","2006M07","2006M08","2006M09","2006M10","2006M11","2006M12","2007M01","2007M02","2007M03","2007M04","2007M05","2007M06","2007M07","2007M08","2007M09","2007M10","2007M11","2007M12","2008M01","2008M02","2008M03","2008M04","2008M05","2008M06","2008M07","2008M08","2008M09","2008M10","2008M11","2008M12","2009M01","2009M02"[...]
