http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.jsonrpc?data=%7B%22jsonrpc%22%3A%222.0%22%2C%22method%22%3A%22PxStat.Data.Cube_API.ReadCollection%22%2C%22params%22%3A%7B%22language%22%3A%22en%22%2C%22datefrom%22%3A%222024-10-14%22%7D%7D
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: ''
      file: no
      string: '{"jsonrpc":"2.0","result":{"class":"collection","link":{"item":[{"dimension":{"STATISTIC":{"category":{},"label":"STATISTIC","id":"STATISTIC"},"TLIST(A1)":{"category":{"index":["2002/03","2003/04","2004/05","2005/06","2006/07","2007/08","2008/09","2009/10","2010/11","2011/12","2012/13","2013/14","2014/15","2015/16","2016/17","2017/18","2018/19","2019/20","2020/21","2021/22","2022/23"],"label":{"2002/03":"2002/03","2003/04":"2003/04","2004/05":"2004/05","2005/06":"2005/06","2006/07":"2006/07","2007/08":"2007/08","2008/09":"2008/09","2009/10":"2009/10","2010/11":"2010/11","2011/12":"2011/12","2012/13":"2012/13","2013/14":"2013/14","2014/15":"2014/15","2015/16":"2015/16","2016/17":"2016/17","2017/18":"2017/18","2018/19":"2018/19","2019/20":"2019/20","2020/21":"2020/21","2021/22":"2021/22","2022/23":"2022/23"}},"label":"Financial
        Year"},"EQGRP":{"category":{},"label":"Equality Groups"},"POVERTY":{"category":{},"label":"Poverty
        Groups"}},"extension":{"copyright":{"name":"Crown Copyright","code":"NISRA","href":"https://www.nisra.gov.uk/crown-copyright"},"exceptional":false,"language":{"code":"en","name":"English"},"matrix":"INCDEPINEQEQ"},"href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/INCDEPINEQEQ/JSON-stat/2.0/en","id":["TLIST(A1)","STATISTIC","EQGRP","POVERTY"],"label":"Income
        Deprivation and Inequality","link":{"alternate":[{"type":"text/csv","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/INCDEPINEQEQ/CSV/1.0/en"},{"type":"application/json","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/INCDEPINEQEQ/JSON-stat/1.0/en"},{"type":"application/octet-stream","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/INCDEPINEQEQ/PX/2013/en"},{"type":"application/base64","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/INCDEPINEQEQ/XLSX/2007/en"}]},"role":{"metric":["STATISTIC"],"time":["TLIST(A1)"]},"updated":"2024-11-01T9:30:00.000Z"},{"dimension":{"STATISTIC":{"category":{},"label":"STATISTIC","id":"STATISTIC"},"TLIST(A1)":{"category":{"index":["2007/08","2008/09","2009/10","2010/11","2011/12","2012/13","2013/14","2014/15","2015/16","2016/17","2017/18","2018/19","2019/20","2020/21","2021/22","2022/23","2023/24"],"label":{"2007/08":"2007/08","2008/09":"2008/09","2009/10":"2009/10","2010/11":"2010/11","2011/12":"2011/12","2012/13":"2012/13","2013/14":"2013/14","2014/15":"2014/15","2015/16":"2015/16",[...]
